body {
  font-family: sans-serif;
}

h1 {
text-align: center;

}

table {
text-align: center;
margin-left: auto;
margin-right: auto;
}

caption {
  color: #B21E35;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}


thead {
background-color: #F9CF06;
}


td {
padding: 10px;
border: 7px;
}

tbody {
  padding: 10px;
}

th {
padding: 7px;
}


tr {

}

tr.home {
  background-color: #646466;
}

tr.away {

}



@media (max-width: 600px) {
  table {
    width: 100%;
  }
  thead {
   display: none;
 }

 tr {
   border: 1px solid #aaaaaa;
   display: block;
   margin-top: 7px;
   margin-bottom: 7px;
 }

 td {
   display: block;
   text-align: right;
 }

 td:before {
   content: attr(aria-label);
   float: left;
   font-weight: bold;
 }
